langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
torch
sentence_transformers
PyPDF2
langchain-objectbox
langchain-ollama
pinecone
docx
protoc_gen_openapiv2
ipywidgets
python-docx